body{
  width: 100vw;
  height: 100%;
  background-color: #BDC3C7;
}

.app {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100vh;
  margin: 1em auto;
  background-color: #ECF0F1;
}

.app img {
  max-width: 150px;
}
